
.alinhamento{
display: flex;
justify-content: flex-end
}

.divp1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    text-align: center;
}
.missao{
    color: white;
    background: linear-gradient(to bottom, #ff6f61, #00416a);
    text-align: center;
    width: 30vw;
    height: 100vh;
    padding-top: 50vh;

}

.divP2{
   
    background-image: url('https://wallpapercave.com/wp/wp2578195.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;

    width: 70%;
    height: 100vh;
    display: flex;
}

.titulo{
font-size: 80px;
color: white;
}

.sub-titulo{
font-size: 30px;
color: white;
}

.menusP2{
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    height:100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5rem;

}
