
.alinhamento{
display: flex;
justify-content: flex-end
}

.divp1{
    width: 30%;
}

.divP2{
   
    background-image: url('https://cdn.pixabay.com/photo/2023/06/20/01/30/ai-generated-8075768_1280.jpg');
    width: 60%;
    height: 100vh;
    display: flex;
}

.titulo{
font-size: 80px;
color: white;
}

.sub-titulo{
font-size: 30px;
color: white;
}

.menusP2{
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    height:100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5rem;

}
