* {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    border: none;

}

i {
    background-color: rgb(0, 0, 0);
}






.header-esquerda {

    padding: 1rem;

    padding-left: 2rem;
    align-items: center;

    font-size: 1.5rem;
    color: white;
}



.header-direita ul {
    padding: 1rem;
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    justify-content: center;
    text-shadow: 1px 1px 3.5px greenyellow;
    color: rgba(255, 255, 255, 0.027);
}


.header-direita ul li {
    padding: 0 1rem;
}
.header-direita ul li:hover {
    text-shadow: 1px 1px 10px greenyellow;
    color: white;
}

.ice {

    position: relative;
    font-size: 10rem;
    text-align: end;
    top: 5rem;

    font-weight: 900;

    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_960_720.jpg);

    background-repeat: no-repeat;
    background-size: 100vw;


    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;


}


.land {

    position: relative;
    font-size: 10rem;
    font-weight: 900;
    top: 12rem;
    color: rgb(255, 255, 255);
}




.fa-brands {
    font-size: 24px;
    color: #008eed;
}


.container-01 {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_960_720.jpg );

    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;

}

.lateral-esquerda {

    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    height: 100;
    width: 40%;
}

.lateral-direita {
    background-color: rgba(0, 0, 0, 0.4);

    width: 60%;
}



.info {
    color: white;
    display: flex;
    font-size: 12px;
   
    padding-top: 20rem;
    
    
}

.info h2 {
    font-size: 3rem;
    padding: 0 1rem;
    color: gray;
}

.info p {
    font-size: 1.3rem; ;
    padding: 1.1rem;
  
}

@media (max-width: 700px) {
    .header-direita ul {
        display: none;
    }
    
    .header-direita .menu-sanduiche {
        display: block;
    }
}
@media (max-width: 1000px) {
 
    .info {
        
        position: relative;
        color: white;
        display: flex;
        font-size: 12px;
        width: 100vw;
        padding-top: 20rem;
    
    }


    .ice {

      font-size: 25vw;
    
    }
    
    
    .land {
    
        font-size: 25vw;
    }
    
}